{% extends 'base.html.twig' %}
{#{% block title %}Accueil | Madagascar{% endblock %}#}
{% block body %}
    <div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Fisandratana 2030</h4>

                        <p class="card-description">
                            {#« Fisandratana 2030 ». <br>#}
                            <img class="col-md-12 img-responsive mt-2"
                                 src="{{ asset('public/images/rajaonarimampianina-hvm.jpg') }}" alt="">
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        {#<h4 class="card-title">Fisandratana 2030</h4>#}

                        <p class="card-description">
                            {#« Fisandratana 2030 ». <br>#}
                            <img class="col-md-12 img-responsive mt-5"
                                 src="{{ asset('public/images/haute-matsiatra.JPG') }}" alt="">
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018</span>
            </div>
        </footer>
    </div>
{% endblock %}